<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
    <!-- BANNER -->
    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="Banner">
    </div>

    <main>
        <!-- SECCIÓN BASADO EN ÚLTIMA VISITA -->
        <section>
            <h2 class="titulo">Basado en tu última visita</h2>

            <section class="productos">
                <!-- ARTÍCULO #1 -->
                <article class="articulo">
                    <a href="#">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera-Moulinex">
                    </a>
                    <div class="datos-articulo">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <h3 class="descuento">40% OFF</h3>
                        <h3 class="nombre-articulo">Cafetera Moulinex</h3>
                    </div>
                </article>

                <!-- ARTÍCULO #2 -->
                <article class="articulo">
                    <a href="#">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                    </a>
                    <div class="datos-articulo">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h3 class="precio">$230.000</h3>
                        <h3 class="descuento">20% OFF</h3>
                        <h3 class="nombre-articulo">MacBook Pro 2019</h3>
                    </div>
                </article>

                <!-- ARTÍCULO #3 -->
                <article class="articulo">
                    <a href="#">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10">
                    </a>
                    <div class="datos-articulo">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h3 class="precio">$70.500</h3>
                        <h3 class="descuento">10% OFF</h3>
                        <h3 class="nombre-articulo">Samsung Galaxy S10</h3>
                    </div>
                </article>

                <!-- ARTÍCULO #4 -->
                <article class="articulo">
                    <a href="#">
                      <img src="/images/img-tv-samsung-smart.jpg" alt="TV-Samsung">
                    </a>
                    <div class="datos-articulo">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h3 class="precio">$23.200</h3>
                        <h3 class="descuento">5% OFF</h3>
                        <h3 class="nombre-articulo">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </section>


            <!-- SECCIÓN OFERTAS -->
            <section class="ofertas">

                <h2 class="titulo">Ofertas</h2>
                <section class="productos">
                    <!-- ARTÍCULO #1 -->
                    <article class="articulo">
                    <a href="#">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera-Moulinex">
                    </a>
                        <div class="datos-articulo">
                            <div class="logo-envio">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <h3 class="precio">$6.770</h3>
                            <h3 class="descuento">40% OFF</h3>
                            <h3 class="nombre-articulo">Cafetera Moulinex</h3>
                        </div>
                    </article>

                    <!-- ARTÍCULO #2 -->
                    <article class="articulo">
                    <a href="#">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                    </a>
                        <div class="datos-articulo">
                            <div class="logo-envio">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <h3 class="precio">$230.000</h3>
                            <h3 class="descuento">20% OFF</h3>
                            <h3 class="nombre-articulo">MacBook Pro 2019</h3>
                        </div>
                    </article>

                    <!-- ARTÍCULO #3 -->
                    <article class="articulo">
                    <a href="#">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10">
                    </a>
                        <div class="datos-articulo">
                            <div class="logo-envio">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <h3 class="precio">$70.500</h3>
                            <h3 class="descuento">10% OFF</h3>
                            <h3 class="nombre-articulo">Samsung Galaxy S10</h3>
                        </div>
                    </article>

                    <!-- ARTÍCULO #4 -->
                    <article class="articulo">
                    <a href="#">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="TV-Samsung">
                    </a>
                        <div class="datos-articulo">
                            <div class="logo-envio">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <h3 class="precio">$23.200</h3>
                            <h3 class="descuento">5% OFF</h3>
                            <h3 class="nombre-articulo">SmartTv Samsung 43"</h3>
                        </div>
                    </article>
                </section>
            </section>
    </main>

<%- include('partials/footer.ejs') %>

</body>

</html>