<header>
    <!-- NAVBAR TOP -->
    <section class="top-navbar">
        <!-- LOGO -->
        <div class="logo">
            <a href="/"><img class="imagen-logo" src="/images/logo-mercado-liebre.svg"></img></a>
        </div>

        <!-- BARRA DE BÚSQUEDA -->
        <div class="container-search-bar">
            <form class="search-bar">
                <input type="text" placeholder="Buscar productos">
            </form>
                <button type="submit" tabindex="3" class="search-button">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                </button>
        </div>

        <!-- COMPRÁ EN CUOTAS -->
        <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </section>

    <!-- NAVBAR BOTTOM -->
    <section class="bottom-navbar">
        <nav>
            <ul>
                <div>
                    <li><a href="#" class="nav-item">Ofertas</a></li>
                    <li><a href="#" class="nav-item">Tiendas Oficiales</a></li>
                    <li><a href="#" class="nav-item">Vender</a></li>
                    <li><a href="#" class="nav-item">Ayuda</a></li>
                </div>
            
                <div>
                    <li><a href="/users/register" class="nav-item">Creá tu cuenta <i
                                class="fa-solid fa-id-card nav-icon"></i></a>
                    </li>
                    <li><a href="/users/login" class="nav-item">Ingresá <i
                                class="fa-solid fa-right-to-bracket nav-icon"></i></a>
                    </li>
                    <li><a href="#" class="nav-item">Mis compras <i
                                class="fa-solid fa-basket-shopping nav-icon"></i></a>
                    </li>
                </div>
            </ul>
        </nav>
    </section>

    <!-- MENU BURGER -->
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

    <!-- FIN HEADER -->
</header>